body{
    background-image:url(../images/green_dust_scratch.png)
}
#button-green{
    background: lightgreen;
    padding:20px;
    margin:10px;
    border:solid lightslategray;
}
#button-yellow{
    background:lightyellow;
    padding:20px;
    margin:10px;
    border:solid lightslategray;
}
#button-blue{
    background:lightskyblue;
    padding:20px;
    margin:10px;
    border:solid lightslategray;
}
#button-red{
    background:palevioletred;
    padding:20px;
    margin:10px;
    border:solid lightslategray;
}
.jumbotron{
    line-height: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #abdacc;
    border-bottom:solid lightslategray;
}
h1{
    font-weight:bold;
}
#computer-result{
    text-align:center;
    font-size:128px;
}
#user-score-card{
    padding-bottom: 10px;
}